:root {
  --text: #e7edf7;
  --background: #060e1b;
  --primary: #8ab0ed;
  --secondary: #0c46a3;
  --accent: #2176fd;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "DM Sans", sans-serif;
}

h1{
  font-size: 2rem;
}

body {
  background-color: var(--background);
}

/* header */


header nav{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 12px 64px 0px 64px;
  font-size: 24px;
  font-weight: 300;
}

.active{
  border-bottom: 3px solid var(--accent);
}

.logo img{
  width: 220px;
}

.img_100{
    width: 100%;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.nav-list li a {
  text-decoration: none;
}

.nav-list li a:hover{
 color: #0360f7;
 transition: color 100ms;
}

.hero{
    text-align: center;
    background-image: url('/assets/img/deposito_cargas_filter_blue.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.hero h1{
  font-size: 64px;
  font-weight: bold;
  max-width: 700px;
}

.hero h3{
  font-weight: 300;
  font-style: italic;
  color: var(--text);
}

.hero img{
    width: 300px;
}


.hero p{
  font-size: 20px;
  font-weight: 300;
  max-width: 700px;
  text-align: center;
  margin-bottom: 16px;
}

.hero_cta{
  padding: 20px 120px;
  background-color: var(--accent);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  width: 700px;
}

.hero_cta:hover{
  cursor: pointer;
  background-color: #0360f7;
  transition: background-color ease-in 100ms;
}


/* end header */

/* main */

main{
  display: flex;
  flex-flow: column;
  padding: 32px 64px;
}

.content_description h2{
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 0 64px;
  margin-bottom: 24px;
}

.content_description p{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3%;
  margin-bottom: 16px;
}

.frase{
  margin-bottom: 64px;
}

.frase h2{
  font-weight: 500;
}

.frase h3{
  font-weight: 100;
}

/* cards */

.cards_container{
  display: flex;
  gap: 16px;
  justify-content: space-between;

}
.card {
  max-width: 470px;
  min-width: 250px;
  text-align: center;
  background-color: var(--secondary);
}

.card-title{
    font-size: 18px;
    margin-bottom: 12px;
    padding: 16px 0 8px 0;
  }

.card-desc{
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
    padding: 0 16px 0 16px;
    color: var(--text);
    letter-spacing: 3%;
    margin-top: 8px;
}

.card img {
  width: 100%;
  aspect-ratio: 19 / 9;
  object-fit: cover;
}

.img_transporte img{
 background-position: 30px 30px;
}

.card input[type='submit'] {
    color: var(--background);
    font-weight: 600;
    background-color: var(--primary);
    border: none;
    border-radius: 2px;
    padding: 12px 24px 12px 24px;
    width: 100%;
}

.card input[type='submit']:hover{
  cursor: pointer;
}
/* end cards */

/* end main */

/* footer */

footer{
    background-color: var(--secondary);
    display: flex;
    padding: 32px 64px;
    justify-content: space-between;
    align-content: center;
    gap: 32px;
}

footer nav{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
}

footer nav ul{
  font-size: 20px;
}

footer nav p{
  font-weight: 100;
  font-size: 12px;
}

/* end footer */

/* seccion transporte */

.transporte_banner{
  background-image: url(../img/barco.jpg);
  background-position: center center;
  background-size: cover;
  padding: 32px 64px;
}

.transporte_banner h1{
  font-size: 36px;
}

.transporte_terrestre img{
  width: 100px;
}

/* seccion nosotros*/

.nosotros_main{
  text-align: center;
}

.cargas_footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}