* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #e7edf7;
  font-family: "DM Sans", sans-serif !important;
}
* body {
  background-color: #060e1b;
}
* .mark {
  background-color: #2176fd;
  color: #e7edf7;
}

.main__hero {
  background: url("../assets/img/deposito_cargas_filter_blue.png");
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 64px 0px 64px;
}
.main__hero--subtitle {
  font-style: italic !important;
  font-weight: 200 !important;
}
.main__hero--title {
  font-size: 64px;
  font-weight: 800;
  max-width: 700px;
}
.main__hero--desc {
  font-size: 20px;
  max-width: 700px;
  font-weight: 300;
  letter-spacing: 1.2px;
}
.main__hero--button {
  border: none;
  color: #e7edf7;
  text-decoration: none;
  background-color: #2176fd;
  padding: 12px 24px 12px 24px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  max-width: 700px;
}
.main__hero--button--button:hover {
  background-color: #0c46a3;
  transition: background-color 100ms;
}

.main__cards {
  padding: 36px;
  margin-bottom: 36px;
}
.main__cards .card {
  width: 24rem;
  background-color: rgba(12, 70, 163, 0.4);
  opacity: 1;
  color: #e7edf7;
}
.main__cards .card:last-child {
  margin-bottom: 32px;
}
.main__cards .card__btn {
  width: 100%;
}

.main__content {
  padding: 36px 36px !important;
  margin-bottom: 64px;
}
.main__content__content--title {
  font-size: 48px;
  text-align: center;
}
.main__content--content {
  font-size: 22px;
  font-weight: 200 !important;
  letter-spacing: 1.2px;
}
.main__content .main__frase {
  margin-top: 64px;
  text-align: center;
  max-width: 1400px;
}
.main__content .main__frase--title {
  font-size: 36px;
  font-style: italic !important;
  line-height: 200%;
  max-width: 700px;
}
.main__content .main__frase--author {
  font-size: 18px;
  font-weight: 400;
}

.navbar {
  padding: 12px 0 12px 0;
}
.navbar .offcanvas-header {
  background-color: #0c46a3;
}
.navbar .offcanvas-body {
  background-color: #060e1b;
}
.navbar .offcanvas__logo {
  width: 120px;
}
.navbar .navbar-toggler-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/assets/img/burger.png);
}
.navbar .btn-close {
  background-image: none;
  color: #e7edf7;
  opacity: 0.8;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .btn-close:active, .navbar .btn-close:hover {
  opacity: 1;
}
.navbar .nav-link {
  color: #e7edf7;
  font-size: 18px;
}
.navbar .nav-link:hover, .navbar .nav-link:active {
  color: #2176fd;
  opacity: 0.8;
}
.navbar .active {
  color: #2176fd !important;
  font-weight: 600;
  border-bottom: 3px solid #2176fd;
}
.navbar .logo {
  width: 220px;
}

/* end header */
.footer {
  margin-top: 64px;
  display: flex;
  background-color: #0c46a3;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
}
.footer_logo--img {
  width: 180px;
  padding-bottom: 18px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__navlist {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.footer__navlist a {
  color: #e7edf7;
  text-decoration: none;
}
.footer__navlist a:hover {
  opacity: 0.8;
}
.footer__coop {
  padding-bottom: 12px;
}

.main__content {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  gap: 12px;
}
.main__content .main__seguro__encabezado {
  max-width: 600px;
}
.main__content .main__seguro__video--video {
  aspect-ratio: 16/9;
  width: 500px;
}

.main__seguro__content__secondary {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main__seguro__content__secondary .main__tipos__seguros {
  max-width: 700px;
}
.main__seguro__content__secondary .main__tipos__seguros .main__tipos__seguros--title {
  font-size: 36px;
}
.main__seguro__content__secondary .main__mas__utilizados {
  max-width: 700px;
}
.main__seguro__content__secondary .main__mas__utilizados--title {
  font-size: 36px;
}

.seguros__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}
.seguros__cards--title {
  margin-bottom: 24px;
}
.seguros__cards--title h2 {
  font-size: 36px;
}
.seguros__cards .seguros__cards__container--spacer {
  height: 36px;
}
.seguros__cards__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 16px;
  gap: 36px;
}
.seguros__cards__container .seguros__cards__card {
  max-width: 450px;
  background-color: #0c46a3;
  padding: 16px 32px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.seguros__cards__container .seguros__cards__card--img {
  width: 36px;
  margin-bottom: 12px;
}
.seguros__cards__container .seguros__cards__card--title {
  font-size: 24px;
}
.main__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 36px;
  background-size: cover;
}
.main__banner__transporte {
  background-image: url(../assets/img/banner_pattern_black.png);
}
.main__banner--title {
  font-size: 36px;
}
.main__banner--desc {
  max-width: 1600px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.2px;
}

.transporte__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  border-bottom: 4px solid #0c46a3;
}
.transporte__cards__encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
  flex-wrap: wrap;
}
.transporte__cards__encabezado .transporte__cards__tipo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 700px;
  background-position: center;
  background-size: cover;
}
.transporte__cards__encabezado .transporte__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 700px;
}
.transporte__cards__encabezado .transporte__card--icono {
  width: 36px;
}

.transporte__cards__tipo--terrestre {
  background-image: url(../assets/img/camiones_filter_black.png);
}

.transporte__cards__tipo--maritimo {
  background-image: url(../assets/img/barco_filter_black.png);
}

.transporte__cards__tipo--ferreo {
  background-image: url(../assets/img/tren_filter_black.png);
}

.transporte__cards__tipo--aereo {
  background-image: url(../assets/img/avion_fliter_black.png);
}

.footer {
  margin-top: 0 !important;
}

.body__nosotros {
  background-color: #0c46a3;
}

header {
  background-color: #060e1b;
}

.main__nosotros {
  margin: 36px 64px;
  display: flex;
  flex-direction: column;
}
.main__nosotros .main__nosotros--title {
  text-align: center;
  margin-bottom: 24px;
}
.main__nosotros .main__nosotros--desc {
  max-width: 900px;
  align-self: center;
  margin-bottom: 36px;
}
.main__nosotros .main__nosotros__card {
  border: 3px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  align-self: center;
  margin-bottom: 36px;
}
.main__nosotros .main__nosotros__card .main__nosotros__card--img {
  padding: 36px;
}
.main__nosotros .main__nosotros__card .main__nosotros__card--img img {
  max-width: 250px;
}
.main__nosotros .main__nosotros__card .main__nosotros__card--nombre {
  font-size: 28px;
  font-weight: 600;
}
.main__nosotros .main__nosotros__card .main__nosotros__card--leyenda {
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  line-height: 22px;
}
.main__nosotros .main__nosotros__card .main__nosotros__card__media {
  display: flex;
  width: 100%;
}
.main__nosotros .main__nosotros__card .main__nosotros__card__media .main__nosotros__card__media--item {
  border-top: 3px solid white;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.main__nosotros .main__nosotros__card .main__nosotros__card__media .main__nosotros__card__media--item a:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.main__nosotros .main__nosotros__card .main__nosotros__card__media :nth-child(2) {
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.main__nosotros .main__nosotros__proyectos {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__nosotros .main__nosotros__proyectos .main__nosotros__proyectos--title {
  margin-bottom: 36px;
}
.main__nosotros .main__nosotros__proyectos .main__nosotros__proyectos__proyectos {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main__nosotros .main__nosotros__proyectos .main__nosotros__proyectos__proyectos .main__nosotros__proyectos__proyectos--proyecto {
  height: 250px;
  width: 250px;
  border-radius: 6px;
  background-color: #060e1b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 36px;
}
.main__nosotros .main__nosotros__proyectos .main__nosotros__proyectos__proyectos .main__nosotros__proyectos__proyectos--proyecto a:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.main__nosotros .main__nosotros__proyectos .main__nosotros__proyectos__proyectos .main__nosotros__proyectos__proyectos--proyecto a img {
  width: 100%;
}

.main__banner__cargas {
  background-image: url(../assets/img/deposito_cargas_filter_black.png);
  background-position: 20% 20%;
}

.cargas__tipos {
  padding: 36px 36px;
  text-align: center;
}
.cargas__tipos .cargas__tipos__tipo .cargas__tipos__tipo--title {
  margin-top: 12px;
}
.cargas__tipos .cargas__tipos__tipo .cargas__tipos__tipo--title p {
  font-size: 24px;
}
.cargas__tipos .cargas__tipos__tipo .cargas__tipos__tipo--desc {
  text-align: left;
  font-weight: 200;
  letter-spacing: 1.2px;
  align-self: center;
}
.cargas__tipos .cargas__tipos__tipo .cargas__tipos__tipo--gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cargas__tipos .cargas__tipos__tipo .cargas__tipos__tipo--gallery img {
  width: 25%;
}

@media (max-width: 991px) {
  .logo {
    width: 160px;
  }
  .main__content {
    padding: 16px 0px;
    margin-bottom: 36px;
  }
  .main__hero {
    padding: 0 16px 0px 16px;
  }
  .main__hero--title {
    font-size: 36px;
  }
  .main__hero--subtitle {
    font-size: 22px;
  }
  .main__hero--desc {
    font-size: 16px;
    max-width: 80%;
  }
  .main__content--title {
    font-size: 36px;
  }
  .main__frase--title {
    font-size: 28px !important;
  }
  .main__cards {
    padding: 0 36px;
  }
  .seguros__cards__container {
    justify-content: center;
    gap: 24x;
  }
  .main__mas__utilizados--title {
    text-align: center;
  }
  .main__tipos__seguros--title {
    text-align: center;
  }
  .seguros__cards__card {
    max-width: 700px !important;
  }
  .main__seguro__video--video {
    max-width: 90%;
  }
  .cargas__tipos__tipo--gallery {
    gap: 30px;
  }
  .cargas__tipos__tipo--gallery img {
    width: 100% !important;
  }
  .main__nosotros {
    margin: 12px 36px;
  }
}
@media (max-width: 400px) {
  .logo, .footer_logo--img {
    padding-left: 12px;
    width: 120px !important;
  }
  .footer__navlist {
    flex-direction: column;
  }
  .footer__coop {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
