.main__banner__cargas {
    background-image: url(../assets/img/deposito_cargas_filter_black.png);
    background-position: 20% 20%;
    font-size: 24px!important;
}

.cargas__tipos {
    padding: 36px 36px;
    text-align: center;


    .cargas__tipos__tipo {
        &--title {
            margin-top: 12px;
            
            & p {
                font-size: 28px;
            }
        }

        &--desc {
            text-align: left;
            font-weight: 200;
            font-size: 24px;
            letter-spacing: 1.2px;
            padding: 0 64px;
            align-self: center;
        }

        .cargas__tipos__tipo--gallery {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            & img {
                width: 25%;
            }
        }
    }
}