.main__banner {
  @include flex-center;
  flex-direction: column;
  padding: 64px 36px;
  @include bg-center-cover;

  &__transporte {
    background-image: url(../assets/img/banner_pattern_black.png);
  }

  &--title {
    font-size: 36px;
  }

  &--desc {
    max-width: 1600px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.2px;
  }
}


.transporte__cards {
  flex-direction: column;
  @include flex-center;
  @include bg-center-cover;
  min-height: 80vh;
  border-bottom: 4px solid $color--secondary;

  &__encabezado {
    @include flex-center;
    padding: 36px;
    flex-wrap: wrap;

    .transporte__cards__tipo {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 1400px;
      justify-self: start;
      @include bg-center-cover;

    }

    .transporte__card {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 700px;

      &--icono {
        width: 36px;
      }
    }
    .transporte__list li{
      padding-bottom: 8px;
    }
  }




}

.transporte__cards__tipo--terrestre {
  background-image: url(../assets/img/camiones_filter_black.png);
}

.transporte__cards__tipo--maritimo {
  background-image: url(../assets/img/barco_filter_black.png);
}

.transporte__cards__tipo--ferreo {
  background-image: url(../assets/img/tren_filter_black.png);
}

.transporte__cards__tipo--aereo {
  background-image: url(../assets/img/avion_fliter_black.png);
}

.footer {
  margin-top: 0 !important;
}